* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Segoe UI;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

header {
    background-color: rgba(205, 220, 233, 255);
    text-align: center;
}

.main-top {
    padding: 15px;
}

.imgs {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ph {
    width: 300px;
}

hr {
    background-color: gray;
    height: 5px;
    color: gray;
    width: 900px;
}

.information {
    text-align: center;
}

.info {
    padding: 0 70px;
}

h3 {
    text-align: center;
}

.charac {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    margin: 30px auto;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: bold;
    width: 200px;
    padding: 15px;
    background-color: grey;
    color: white;
}

.btn:hover {
    background-color: rgba(205, 220, 233, 255);
    color: black;
}

textarea {
    resize: none;
}

footer p {
    padding: 15px;
    background-color: grey;
    color: white;
    margin: 0;
    text-align: center;
}